/* Statement Page Styles */

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #333;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 10px;
}

#main {
	overflow: hidden;
}

img {
	border: 0;
}

.center {
	margin: 0 auto;
	width: 960px;
}

br.clear {
	clear: both;
}

#header {
	background: #272525;
	min-height: 40px;
	padding: 11px 0;
}

#logo {
	display: block;
	height: 54px;
	margin: 0;
	width: 261px;
}

#logo h1 {
	display: block;
	color: #fff;
	height: 63px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-indent: -999px;
	width: 261px;
}

#logo h1 img {
	left: 0;
	position: absolute;
	top: 0;
}

#content {
	font-size: 12px;
	margin: 0 auto;
	overflow: hidden;
	padding: 40px 20px;
	width: 940px;
}

h1 {
	color: #777;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

h2 {
	background: #f0f0f0;
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 4px;
}

.title {
	float: left;
	overflow: hidden;
	width: 60%;
}

.title p {
	font-size: 14px;
	margin: 0;
}

.title h1 strong {
	color: #333;
	font-size: 24px;
	font-weight: normal;
}

.accountinfo {
	float: left;
	overflow: hidden;
	width: 40%;
}

.accountinfo p {
	font-size: 14px;
}

.accountinfo p span {
	color: #006BC6;
	font-weight: bold;
}

.accountinfo ul {
	font-size: 12px;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 10px 8px 20px;
}

.accountinfo ul li {
	display: block;
	float: left;
	margin: 0 6px;
	width: 150px;
}

.accountinfo ul li strong {
	display: block;
	font-size: 18px;
	font-weight: normal;
}

.celldetails {
	padding: 10px 20px 20px;
}

.cellsummary {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 20px 20px 0;
}

.cellsummary li {
	color: #777;
	display: block;
	float: left;
	margin: 0 10px 20px 0;
	width: 210px;
}

.cellsummary li strong {
	color: #333;
	display: block;
	font-size: 13px;
}

.dtable .dhead .drow {
	background: #006BC6;
	border-bottom: 3px solid #fff;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
	text-align: left;
}

.dtable .dhead .drow .dcol {
	float: left;
	padding: 4px 6px;
}

.dtable .dbody .drow {
	background: #f3f3f3;
	border-bottom: 3px solid #fff;
	font-size: 12px;
	min-height: 33px;
	overflow: hidden;
}

.dtable .dbody .drowalt {
	background: #f7f7f7;
}

.dtable .dbody .drowsel {
	background: #d5ebb1;
}

.dtable .dbody .drow .dnormal {
	overflow: hidden;
}

.dtable .dbody .drow .dextended {
	background: #444;
	color: #eee;
}

.dtable .dbody .drow .dextend {
	background: #5a5e4d url('images/expandbg.png') 0 100% repeat-x;
	border-bottom: 1px solid #333;
	color: #fafef9;
	display: none;
	font-size: 11px;
	position: relative;
}

.dtable .dbody .drow .dextend .expandarrow {
	background: transparent url('images/expandarrow.png') 0 0 no-repeat;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	top: 0px;
	width: 10px;
}

.dtable .dbody .drow .dextend .expandtype {
	background: #fff;
	border: 4px solid #444;
	border-bottom: 3px solid #444;
	color: #333;
	overflow: hidden;
	padding: 8px;
}

.dtable .dbody .drow .dcol {
	float: left;
	padding: 9px 6px;
}

.dtable .dbody .drow .dunread {
	font-weight: bold;
}

.dtable .col1 {
	width: 90px;
}

.dtable .col2 {
	width: 120px;
}

.dtable .col3 {
	width: 280px;
}

.dtable .col4 {
	width: 220px;
}

.dtable .col5 {
	width: 80px;
}

.dtable .dbody .drow .dextend .dcol {
	list-style: square;
	margin: 0 0 0 100px;
}

.dtable .dbody .drow .dextend p {
	margin: 0 0 8px;
}

.dtable .dbody .drow .dextend ul {
	list-style: square;
	margin: 0 0 0 4px;
	padding: 0 0 0 8px;
}